<%# 这是前端vue ejs模板 -%>
<template>
  <div>
    <el-form :model="searchForm" inline>
      <%_ searchList.forEach(function(data) { -%>
        <el-form-item label="<%=data.Comment %>" prop="<%=data.Field %>">
        <%_ if(data.Type.indexOf('varchar') !== -1) { -%>
          <el-input v-model="searchForm.<%=data.Field %>"></el-input>
        <%_ }-%>
        <%_ if(data.Type.indexOf('date') !== -1) { -%>
          <el-date-picker
            type="date"
            value-format="yyyy-MM-dd HH:mm:ss"
            v-model="searchForm.<%=data.Field %>"></el-date-picker>
        <%_ } -%>
        </el-form-item>
      <%_ }); -%>
    </el-form>
    <el-table :data="tableData">
      <%_ queryList.forEach(function(data) { -%>
        <el-table-column label="<%=data.Comment %>" prop="<%=data.Field %>"></el-table-column>
      <%_ }) -%>
    </el-table>

    <el-dialog title="新增" :visible.sync="visible">
      <el-form
        :model="addForm"
        ref="addForm"
        label-width="100px"
        :rules="rule"
        class="demo-form-inline"
      >
        <%_ insertList.forEach(function(data){ -%>
          <el-col :span="12">
            <el-form-item label="<%=data.Comment %>" prop="<%=data.Field %>">
              <%_ if(data.Type.indexOf('varchar') !== -1) { -%>
                <el-input v-model="addForm.<%=data.Field %>"></el-input>
              <%_ }-%>
              <%_ if(data.Type.indexOf('date') !== -1) { -%>
                <el-date-picker
                  type="date"
                  value-format="yyyy-MM-dd HH:mm:ss"
                  v-model="addForm.<%=data.Field %>"></el-date-picker>
              <%_ } -%>
            </el-form-item>
          </el-col>
        <%_ }) -%>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        searchForm: {
        <%_ searchList.forEach(function(data) { -%>
          <%=data.Field %>: '',
        <%_ }); -%>
        },
        tableData: [],
        visible: false,
        addForm: {
        <%_ insertList.forEach(function(data) { -%>
          <%=data.Field %>: '',
        <%_ }); -%>
        }
      }
    },
    created() {
      // 接口获取tableData
    }
  }
</script>

<style scoped></style>
